@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
h1 a {
    font-family: "DM Serif Display";
    text-decoration: none;
    color: #000;
    line-height: 4.5vw;
}
.part-box {
    float: left;
}
ul,
ol {
    margin: 0;
    padding: 0;
    list-style: none;
}
li a {
    color: #000;
    text-decoration: none;
}
ul::after,
ol::after,
.clb::after {
    content: "";
    display: block;
    clear: both;
}

.gnb {
    padding-left: 50vw;
}

nav ul li {
    padding: 0 30px;
    height: 80px;
    line-height: 120px;
    font-size: 25px;
    font-weight: bold;
    float: left;
    text-align: center;
    font-family: "bebas Neue";
}

.sub-menu{
    position: absolute;
    opacity: 0;
    height: 40%;
   }
   .gnb > ul > li:hover header {
    opacity: 1;
    background-color: beige;
   }
body {
    padding: 0px;
    margin: 0px;
}
 /* beanpole 최신영상
.main-video {
    width: 100%;
    height: 100%;
    overflow: hidden;
    margin: 0px auto;
    position: relative;
}
video {
    width: 100%;
} */