@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap");
/* font-family: 'DM Serif Display', serif; */
@import url(../css/common.css);

header {
    width: 100%;
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    margin: 0 auto;
    position: fixed;
}
h1 {
    font-family: "DM Serif Display";
    font-size: 36px;
}
nav ul {
    display: flex;
    align-items: center;
    column-gap: 60px;
}
nav ul li {
    font-size: 25px;
    font-weight: bold;
    font-family: "bebas Neue";
    position: relative;
}
nav ol {
    position: absolute;
    left: 0;
    top: 80px;
}
.main-video {
    width: 50%;
    height: 100vh;
    /* padding: 0 50px; */
}
video {
    object-fit: cover;
    width: 100%;
    height: 100%;
}
.message {
  font-family: 'DM Serif Display', serif;
  position: absolute;
    display: block;
    top: 400px;
    right: 30px;
    line-height: 2;
    text-align: center;
    font-size: 30px;
}
.message::first-letter{
  color: red;
  font: 3em 'DM Serif Display', serif;
}
